<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/boxicons.min.css">
    <link rel="stylesheet" href="css/Login.css">
    <script src="js/axios.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Login.js"></script>
</head>
<body>
    <form action="">
        <div class="wrapper">
            
            <h1>Login</h1>
    
            <div class="inputbox">
            
                <input type="text" placeholder="UserName"  id="username" required>
            </div>
            <div class="inputbox">
                <input type="Password" placeholder="Password"  id="password" required>
            </div>
        
            <button type="button" class="btn" onclick="validateLogin()">Login</button>
            </form>
            <div class="register">
                <p>Dont have account? <a href="Signup.html">Register</a>
            </p>
                
            </div>
        
    </div>
</body>
</html>