<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/boxicons.min.css">
    <link rel="stylesheet" href="css/Signup.css">
    <script src="js/signup.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <form action="">
        <h1>Signup</h1>
        
        <div class="inputbox">
        
            <input type="text" placeholder="Fullname"  id="fullname" required>
        </div>
        <div class="inputbox">
            <input type="Text" placeholder="Email" id="email" required>
        </div>
        <div class="inputbox">
        
        <input type="Text" placeholder="Username" id="username" required>
    </div>
    <div class="inputbox">
        
        <input type="Password" placeholder="Password"  id="password" required>
    </div>
       
        <button type="button" class="btn" onclick="validatesignup()">Sign Up</button>
        
            
    </form>
</div>
</body>
</html>